/* Credit @ https://www.youtube.com/watch?v=_i4Wi43NTDo */


/* Search CSS */

.search {
	margin: 5px 11px;
	height: 40px;
	align-self: center;
	width: 400px;
	border-radius: 4px;
	border-color: rgba(139, 139, 139, 0.733);
	padding-left: 5px;
	font-size: 15px;
}

/* Table CSS */


.headingTable {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	box-shadow: var(--box-shadow);
	margin: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
}

.title_tab {
	font-size: large;
	font-weight: bold;
	color: var(--black);
	text-align: left;
	margin-left: 20px;
	margin-bottom: 0px;

}

.genre_tab {
	font-size:large;
	font-weight: bold;
	color: var(--black);
	margin: 0px;
}

.icon_tab {
	font-size: large;
	font-weight: bold;
	color: var(--black);
	flex: 0.5;
	padding: 0px;
	margin: 0px;
}

.book {
	display: flex;
	align-items: center;
	height:5em;
	margin: 5px 10px;
	padding-left: 20px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	transition: all 0.1s ease;
	background-color: white;
	border-radius: 4px;
}

.book:hover {
	scale: 1.01;
}

.title_container {
	flex: 2;
	display: flex;
	align-items: center;
	object-fit: contain;
}

.book_title {
	font-size: 16px;
	font-weight: 500;
}

.genre_container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon_container {
	flex: 0.5;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 1px;
}

.book_genre {
	font-size: 16px;
	font-weight: 400;
}


/* Pagination CSS */


.paginationContainer {
	position: relative;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	margin: 0 10px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
}

.page_btn {
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: 500;
	color: white;
	border-radius: 5px;
	outline: none;
	width: 50px; 
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
	background-color: #0d6efd;
}

.page_btn:hover {
	scale: 1.01;
	background-color: #3586ff;	
}

/* Sort CSS */

.containerSort {
	height: 60px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	box-shadow: var(--box-shadow);
	background-color: white;
	border-radius: 4px;
	padding: 25px;
}

.sort_by {
	font-size: 16px;
	font-weight: 500;
	margin-top: 15px;
	margin-right: 15px;
}

.btn-outline-dark {
	margin-left: 200px;
}

/* Genre CSS */

.containerGenre {
	height: 60px;
	margin: 10px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: var(--box-shadow);
	background-color: white;
	border-radius: 4px;
}

.selectGenre {
	width: 80px;
	height: 30px;
	border-radius: 4px;
	border: 1px solid var(--black);
	outline: none;
	cursor: pointer;
	padding-left: 10px;
	/* padding-right: 15px; */
}

.headingGenre {
	font-size: 15px;
	margin: 8px;
	text-align: center;
}

.genres_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.genre {
	min-width: 90px;
	display: flex;
	align-items: center;
	margin: 2px 0;
}

.genre_label {
	margin: 0;
	margin-left: 15px;
}